In [1]:
import pandas as pd
import numpy as np
import math as math
import statistics
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import datetime
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
from sklearn.metrics import log_loss
from sklearn.preprocessing import StandardScaler
from mlxtend.plotting import plot_decision_regions
import time

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('max_colwidth', 1000)  #
pd.set_option('display.width', 150)

# from functions import *
#https://www.nba.com/stats/teams/boxscores-scoring

In [2]:
def convertCSVDateColumn(df):
    locationToInsert = df.columns.get_loc('GAME DATE')+1
    columnToInsert = pd.to_datetime(df['GAME DATE'],format="%m/%d/%y").dt.date
    df = df.drop(columns='GAME DATE')
    df.insert(locationToInsert,'GAME DATE',columnToInsert)
    df = df.sort_values(by=['GAME DATE','GAMEID']).reset_index(drop=True)
    return df
def featureEngineering(df):
    featuresToAddDict = {"OPPT":[],"PTSA":[],"2PA":[],"2PM":[],"2P%":[],"RESULT":[],"PTSDELTA":[],"H/A":[]}
    for i in range(len(df)):
        featuresToAddDict["OPPT"].append(df.iloc[i]['MATCH UP'][-3:])
        if i % 2 == 0: featuresToAddDict["PTSA"].append(df.iloc[i+1]['PTS'])
        else: featuresToAddDict["PTSA"].append(df.iloc[i-1]['PTS'])
        if df['W/L'][i] == 'L': featuresToAddDict["RESULT"].append(0)
        else: featuresToAddDict["RESULT"].append(1)
        featuresToAddDict["H/A"].append(df['MATCH UP'][i].count('vs'))
    df.insert(df.columns.get_loc('TEAM')+1,'OPPT',featuresToAddDict["OPPT"])
    df.insert(df.columns.get_loc('PTS')+1,'PTSA',featuresToAddDict["PTSA"])
    df.insert(df.columns.get_loc('FG%')+1,'2PM',df['FGM'] - df['3PM'])
    df.insert(df.columns.get_loc('FG%')+1,'2PA',df['FGA'] - df['3PA']) 
    df.insert(df.columns.get_loc('FG%')+1,'2P%',round(100*(df['2PM']/df['2PA']),2))
    df.insert(df.columns.get_loc('W/L')+1,'RESULT',featuresToAddDict["RESULT"])
    df = df.drop(columns=['W/L'])
    df.insert(df.columns.get_loc('PTSA')+1,'PTSDELTA',df['PTS']-df['PTSA'])
    df.insert(df.columns.get_loc('PTSDELTA')+1,'LR',np.log(df['PTS']/df['PTSA']))
    df.insert(df.columns.get_loc('GAME DATE')+1,'H/A',featuresToAddDict["H/A"])
    return df
def getDaysOff(teamsDict):
    for team_ in list(teamsDict.keys()):
        daysOff = []
        daysOff.append(np.nan)
        teamKey = team_
        for i in range(1,len(teamsDict[teamKey]['GAME DATE'])):
            date = teamsDict[teamKey]['GAME DATE'][i]
            prevDate = teamsDict[teamKey]['GAME DATE'][i-1] + datetime.timedelta(1)
            daysOff.append((date - prevDate).days)
        teamsDict[teamKey]['DAYSOFF'] = daysOff
def addAdditionalFeatures(df,teamsDict):
    teamDFA = []
    for team_ in list(teamsDict.keys()):
        teamDF = df[df['TEAM'] == team_]
        startingIndex = len(list(df.columns))
        additionalFeatures = list(teamsDict[team_].keys())[startingIndex:]
        for feature_ in additionalFeatures:
            teamDF = pd.concat([teamDF,pd.DataFrame(teamsDict[team_][feature_],
                                    columns=[feature_],
                                    index=teamDF.index.values)],axis=1)
        teamDFA.append(teamDF)
    return pd.concat(teamDFA)
def getDataFromDataFrame(df):
    teamsDict = {}
    for team_ in np.unique(df['TEAM']):
        teamsDict[team_] = {'TEAM':[],'OPPT':[],'TEAMID':[],'MATCH UP':[],'GAMEID':[],'RESULT':[],
                            'GAME DATE':[],'H/A':[],'SPREAD':[],'O/U':[],'MIN':[],'PTS':[],'PTSA':[],
                            'PTSDELTA':[],'LR':[],'FGM':[],'FGA':[],'FG%':[],'2P%':[],'2PA':[],'2PM':[],
                            '3PM':[],'3PA':[],'3P%':[],'FTM':[],'FTA':[],'FT%':[],'OREB':[],'DREB':[],
                            'REB':[],'AST':[],'STL':[],'BLK':[],'TOV':[],'PF':[],'+/-':[],
                            'Ws':[],'Ls':[],'GAMES PLAYED':[],'W%':[],'L%':[],'AVGPTS':[],'AVGPTSA':[]}
        features = df.columns.values
    for i in range(len(df)):
        for feature_ in features:
            teamKey = df.iloc[i]['TEAM']
            featureKey = feature_
            teamsDict[teamKey][featureKey].append(df.iloc[i][feature_])
        gamesPlayed = teamsDict[teamKey]['RESULT'].count(1) + teamsDict[teamKey]['RESULT'].count(0)
        teamsDict[teamKey]['Ws'].append(teamsDict[teamKey]['RESULT'].count(1))
        teamsDict[teamKey]['Ls'].append(teamsDict[teamKey]['RESULT'].count(0))
        teamsDict[teamKey]['GAMES PLAYED'].append(gamesPlayed)
        teamsDict[teamKey]['W%'].append(100*round(teamsDict[teamKey]['RESULT'].count(1)/gamesPlayed,3))
        teamsDict[teamKey]['L%'].append(100*round(teamsDict[teamKey]['RESULT'].count(0)/gamesPlayed,3))
        teamsDict[teamKey]["AVGPTS"].append(np.mean(teamsDict[teamKey]['PTS']))
        teamsDict[teamKey]["AVGPTSA"].append(np.mean(teamsDict[teamKey]['PTSA']))
    return teamsDict
def getMovingAverageLx(teamsDict,x):
    features = ['PTS','PTSA','PTSDELTA','LR','FGM','FGA','2PM','2PA','3PM','3PA','FTM','FTA',
                'OREB','DREB','REB','AST','TOV','STL','BLK','PF']
    MAFeatures = ['PTSLxMA','PTSALxMA','PTSDELTALxMA','LRLxMA','FGMLxMA','FGALxMA','2PMLxMA',
                  '2PALxMA','3PMLxMA','3PALxMA','FTMLxMA','FTALxMA','OREBLxMA','DREBLxMA',
                  'REBLxMA','ASTLxMA','TOVLxMA','STLLxMA','BLKLxMA','PFLxMA']
    for team_ in list(teamsDict.keys()):
        teamKey = team_
        for feature_ in features:
            ma = []
            for _ in range(x): ma.append(np.nan)
            for maRange in range(0,len(teamsDict[teamKey][feature_])-x):
                ma.append(np.mean(teamsDict[teamKey][feature_][maRange:(x+maRange)]))
            teamsDict[teamKey][MAFeatures[features.index(feature_)].replace('x',str(x))] = ma
def getPercentMovingAverageLx(teamsDict,x):
    features = ['FGM','FGA','2PM','2PA','3PM','3PA','FTM','FTA','Ws','GAMES PLAYED']
    MAfeatures = ['FG%LxMA','2P%LxMA','3P%LxMA','FT%LxMA','W%LxMA']
    for team_ in list(teamsDict.keys()):
        teamKey = team_
        for i in range(0,len(features),2):
            ma = []
            for _ in range(x): ma.append(np.nan)
            for maRange in range(0,len(teamsDict[teamKey][features[i]])-x):
                num = np.sum(teamsDict[teamKey][features[i]][maRange:(x+maRange)])
                dem = np.sum(teamsDict[teamKey][features[i+1]][maRange:(x+maRange)])
                ma.append(num/dem)
            teamsDict[teamKey][MAfeatures[int(i/2)].replace('x',str(x))] = ma

# Traditional.csv

In [3]:
start_time = time.time()
trainDF = pd.read_csv(
    '/Users/olutosinfashusi/jupyter/csv/fromNBADOTCOM/2023-24/byGame/Traditional.csv'
)
trainDF = convertCSVDateColumn(trainDF)
FE_trainDF = featureEngineering(trainDF)
dict_FE_trainDF = getDataFromDataFrame(FE_trainDF)
# getMovingAverageLx(dict_FE_trainDF,5)
# getPercentMovingAverageLx(dict_FE_trainDF,5)
# getMovingAverageLx(dict_FE_trainDF,4)
# getPercentMovingAverageLx(dict_FE_trainDF,4)
# getMovingAverageLx(dict_FE_trainDF,3)
# getPercentMovingAverageLx(dict_FE_trainDF,3)
# getMovingAverageLx(dict_FE_trainDF,2)
# getPercentMovingAverageLx(dict_FE_trainDF,2)
# getMovingAverageLx(dict_FE_trainDF,1)
# getPercentMovingAverageLx(dict_FE_trainDF,1)
# getDaysOff(dict_FE_trainDF)
AF_FE_trainDF = addAdditionalFeatures(FE_trainDF, dict_FE_trainDF)
print("%s seconds" % (time.time() - start_time))

35.56104898452759 seconds

In [4]:
NBAdf = AF_FE_trainDF.sort_values(by=['GAME DATE', 'GAMEID', 'H/A']).reset_index(drop=True)
NBAteams = np.unique(NBAdf['TEAM'])

In [45]:
NBAdf[NBAdf['TEAM'] == 'CHA']

,TEAM,OPPT,TEAMID,MATCH UP,GAMEID,RESULT,GAME DATE,H/A,SPREAD,O/U,MIN,PTS,PTSA,PTSDELTA,LR,FGM,FGA,FG%,2P%,2PA,2PM,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,PF,+/-,Ws,Ls,GAMES PLAYED,W%,L%,AVGPTS,AVGPTSA
5,CHA,ATL,1610612766,CHA vs. ATL,22300063,1,2023-10-25,1,4.0,236.0,240,116,110,6,0.053110,43,86,50.0,65.31,49,32,11,37,29.7,19,26,73.1,12,39,51,34,5,3,19,21,6,1,0,1,100.0,0.0,116.000000,110.000000
33,CHA,DET,1610612766,CHA vs. DET,22300077,0,2023-10-27,1,-4.5,227.0,240,99,111,-12,-0.114410,33,88,37.5,43.33,60,26,7,28,25.0,26,34,76.5,11,30,41,20,13,7,18,23,-12,1,1,2,50.0,50.0,107.500000,110.500000
81,CHA,BKN,1610612766,CHA vs. BKN,22300101,0,2023-10-30,1,1.0,228.5,240,121,133,-12,-0.094559,47,96,49.0,60.00,65,39,8,31,25.8,19,20,95.0,8,31,39,33,8,5,10,23,-12,1,2,3,33.3,66.7,112.000000,118.000000
122,CHA,HOU,1610612766,CHA @ HOU,22300122,0,2023-11-01,0,3.0,222.0,240,119,128,-9,-0.072907,45,90,50.0,53.97,63,34,11,27,40.7,18,25,72.0,15,29,44,21,9,8,16,19,-9,1,3,4,25.0,75.0,113.750000,120.500000
158,CHA,IND,1610612766,CHA @ IND,22300133,1,2023-11-04,0,5.0,241.5,240,125,124,1,0.008032,47,88,53.4,57.35,68,39,8,20,40.0,23,23,100.0,12,29,41,23,5,10,13,20,1,2,3,5,40.0,60.0,116.000000,121.200000
178,CHA,DAL,1610612766,CHA @ DAL,22300143,0,2023-11-05,0,11.5,235.0,240,118,124,-6,-0.049597,49,99,49.5,59.42,69,41,8,30,26.7,12,21,57.1,10,33,43,30,5,2,9,25,-6,2,4,6,33.3,66.7,116.333333,121.666667
207,CHA,WAS,1610612766,CHA vs. WAS,22300157,0,2023-11-08,1,-2.0,239.0,240,116,132,-16,-0.129212,41,79,51.9,61.11,54,33,8,25,32.0,26,35,74.3,11,36,47,17,8,5,22,22,-16,2,5,7,28.6,71.4,116.285714,123.142857
240,CHA,WAS,1610612766,CHA @ WAS,22300009,1,2023-11-10,0,3.5,240.5,240,124,117,7,0.058108,50,110,45.5,53.66,82,44,6,28,21.4,18,28,64.3,28,39,67,31,10,4,10,19,7,3,5,8,37.5,62.5,117.250000,122.375000
264,CHA,NYK,1610612766,CHA @ NYK,22300177,0,2023-11-12,0,10.5,224.0,240,107,129,-22,-0.186984,44,94,46.8,54.24,59,32,12,35,34.3,7,11,63.6,15,21,36,21,5,4,12,25,-22,3,6,9,33.3,66.7,116.111111,123.111111
295,CHA,MIA,1610612766,CHA vs. MIA,22300017,0,2023-11-14,1,6.5,221.5,240,105,111,-6,-0.055570,36,81,44.4,42.86,49,21,15,32,46.9,18,22,81.8,13,32,45,21,6,0,18,21,-6,3,7,10,30.0,70.0,115.000000,121.900000
335,CHA,MIL,1610612766,CHA vs. MIL,22300027,0,2023-11-17,1,8.0,243.0,240,99,130,-31,-0.272415,37,91,40.7,47.69,65,31,6,26,23.1,19,22,86.4,9,34,43,18,5,2,12,14,-31,3,8,11,27.3,72.7,113.545455,122.636364
357,CHA,NYK,1610612766,CHA vs. NYK,22300202,0,2023-11-18,1,6.5,224.5,240,108,122,-14,-0.121890,40,82,48.8,48.94,47,23,17,35,48.6,11,13,84.6,4,32,36,29,5,5,13,22,-14,3,9,12,25.0,75.0,113.083333,122.583333
387,CHA,BOS,1610612766,CHA vs. BOS,22300217,1,2023-11-20,1,8.5,234.5,265,121,118,3,0.025106,46,104,44.2,50.77,65,33,13,39,33.3,16,17,94.1,17,40,57,29,9,7,13,18,3,4,9,13,30.8,69.2,113.692308,122.230769
413,CHA,WAS,1610612766,CHA vs. WAS,22300225,1,2023-11-22,1,-3.5,240.5,240,117,114,3,0.025975,43,91,47.3,50.00,54,27,16,37,43.2,15,21,71.4,11,38,49,27,6,4,13,15,3,5,9,14,35.7,64.3,113.928571,121.642857
478,CHA,ORL,1610612766,CHA @ ORL,22300248,0,2023-11-26,0,6.5,228.5,240,117,130,-13,-0.105361,44,83,53.0,58.49,53,31,13,30,43.3,16,25,64.0,5,31,36,27,6,7,18,26,-13,5,10,15,33.3,66.7,114.133333,122.200000
506,CHA,NYK,1610612766,CHA @ NYK,22300057,0,2023-11-28,0,11.5,220.0,240,91,115,-24,-0.234073,37,89,41.6,41.38,58,24,13,31,41.9,4,7,57.1,13,28,41,21,8,2,17,14,-24,5,11,16,31.2,68.8,112.687500,121.750000
530,CHA,BKN,1610612766,CHA @ BKN,22300266,1,2023-11-30,0,9.0,223.0,240,129,128,1,0.007782,46,91,50.5,45.45,55,25,21,36,58.3,16,16,100.0,13,28,41,30,6,7,9,16,1,6,11,17,35.3,64.7,113.647059,122.117647
561,CHA,MIN,1610612766,CHA vs. MIN,22300281,0,2023-12-02,1,5.5,219.5,240,117,123,-6,-0.050010,44,91,48.4,48.48,66,32,12,25,48.0,17,19,89.5,10,26,36,29,6,4,8,22,-6,6,12,18,33.3,66.7,113.833333,122.166667
602,CHA,CHI,1610612766,CHA @ CHI,22301211,0,2023-12-06,0,5.0,220.5,240,100,111,-11,-0.104360,39,90,43.3,54.72,53,29,10,37,27.0,12,12,100.0,12,30,42,25,9,9,17,24,-11,6,13,19,31.6,68.4,113.105263,121.578947
617,CHA,TOR,1610612766,CHA vs. TOR,22301216,1,2023-12-08,1,5.5,222.5,240,119,116,3,0.025533,44,79,55.7,57.41,54,31,13,25,52.0,18,20,90.0,7,24,31,30,7,4,16,15,3,7,13,20,35.0,65.0,113.400000,121.300000
643,CHA,MIA,1610612766,CHA vs. MIA,22300292,0,2023-12-11,1,4.5,222.5,240,114,116,-2,-0.017392,40,84,47.6,53.49,43,23,17,41,41.5,17,22,77.3,6,25,31,31,3,2,11,22,-2,7,14,21,33.3,66.7,113.428571,121.047619
682,CHA,MIA,1610612766,CHA @ MIA,22300312,0,2023-12-13,0,7.5,223.5,240,104,115,-11,-0.100541,41,77,53.2,63.04,46,29,12,31,38.7,10,11,90.9,4,27,31,27,11,5,21,18,-11,7,15,22,31.8,68.2,113.000000,120.772727
711,CHA,NOP,1610612766,CHA vs. NOP,22300326,0,2023-12-15,1,9.5,234.0,240,107,112,-5,-0.045670,41,92,44.6,52.46,61,32,9,31,29.0,16,21,76.2,8,31,39,18,7,4,8,24,-5,7,16,23,30.4,69.6,112.739130,120.391304
729,CHA,PHI,1610612766,CHA vs. PHI,22300335,0,2023-12-16,1,-12.0,228.0,240,82,135,-53,-0.498556,33,91,36.3,46.43,56,26,7,35,20.0,9,11,81.8,8,28,36,15,3,4,13,14,-53,7,17,24,29.2,70.8,111.458333,121.000000
766,CHA,TOR,1610612766,CHA @ TOR,22300354,0,2023-12-18,0,12.5,224.0,240,99,114,-15,-0.141079,39,89,43.8,54.39,57,31,8,32,25.0,13,13,100.0,10,26,36,18,8,6,13,19,-15,7,18,25,28.0,72.0,110.960000,120.720000
788,CHA,IND,1610612766,CHA @ IND,22300365,0,2023-12-20,0,10.5,245.5,240,113,144,-31,-0.242425,45,95,47.4,57.81,64,37,8,31,25.8,15,19,78.9,16,21,37,23,6,0,12,18,-31,7,19,26,26.9,73.1,111.038462,121.615385
839,CHA,DEN,1610612766,CHA vs. DEN,22300390,0,2023-12-23,1,11.0,224.5,240,95,102,-7,-0.071096,34,88,38.6,43.33,60,26,8,28,28.6,19,23,82.6,13,34,47,23,8,11,18,15,-7,7,20,27,25.9,74.1,110.444444,120.888889
886,CHA,LAC,1610612766,CHA @ LAC,22300414,0,2023-12-26,0,11.0,227.0,240,104,113,-9,-0.082997,43,93,46.2,57.81,64,37,6,29,20.7,12,16,75.0,8,34,42,31,8,6,11,23,-9,7,21,28,25.0,75.0,110.214286,120.607143
914,CHA,LAL,1610612766,CHA @ LAL,22300428,0,2023-12-28,0,13.0,227.5,240,112,133,-21,-0.171850,40,85,47.1,48.08,52,25,15,33,45.5,17,28,60.7,8,35,43,29,5,5,19,14,-21,7,22,29,24.1,75.9,110.275862,121.034483
930,CHA,PHX,1610612766,CHA @ PHX,22300436,0,2023-12-29,0,15.5,231.5,240,119,133,-14,-0.111226,44,92,47.8,45.65,46,21,23,46,50.0,8,8,100.0,8,18,26,32,5,3,6,17,-14,7,23,30,23.3,76.7,110.566667,121.433333
968,CHA,DEN,1610612766,CHA @ DEN,22300455,0,2024-01-01,0,17.0,224.5,240,93,111,-18,-0.176931,36,86,41.9,43.33,60,26,10,26,38.5,11,16,68.8,8,37,45,24,4,5,14,15,-18,7,24,31,22.6,77.4,110.000000,121.096774
986,CHA,SAC,1610612766,CHA @ SAC,22300464,1,2024-01-02,0,15.0,233.5,240,111,104,7,0.065139,42,82,51.2,62.50,48,30,12,34,35.3,15,19,78.9,4,31,35,23,8,10,15,15,7,8,24,32,25.0,75.0,110.031250,120.562500
1026,CHA,CHI,1610612766,CHA @ CHI,22300484,0,2024-01-05,0,8.5,217.5,240,91,104,-13,-0.133531,36,89,40.4,47.27,55,26,10,34,29.4,9,12,75.0,12,30,42,20,7,1,13,20,-13,8,25,33,24.2,75.8,109.454545,120.060606
1071,CHA,CHI,1610612766,CHA vs. CHI,22300506,0,2024-01-08,1,7.0,215.5,265,112,119,-7,-0.060625,40,94,42.6,44.23,52,23,17,42,40.5,15,17,88.2,14,30,44,26,3,7,15,22,-7,8,26,34,23.5,76.5,109.529412,120.029412
1095,CHA,SAC,1610612766,CHA vs. SAC,22300518,0,2024-01-10,1,9.0,230.0,240,98,123,-25,-0.227217,35,87,40.2,38.78,49,19,16,38,42.1,12,16,75.0,8,28,36,17,2,3,10,16,-25,8,27,35,22.9,77.1,109.200000,120.114286
1140,CHA,SAS,1610612766,CHA @ SAS,22300541,0,2024-01-12,0,3.0,236.5,240,99,135,-36,-0.310155,32,89,36.0,40.00,55,22,10,34,29.4,25,28,89.3,16,28,44,22,11,3,20,24,-36,8,28,36,22.2,77.8,108.916667,120.527778
1160,CHA,MIA,1610612766,CHA @ MIA,22300551,0,2024-01-14,0,8.5,225.5,240,87,104,-17,-0.178483,33,95,34.7,42.59,54,23,10,41,24.4,11,15,73.3,17,33,50,17,5,3,15,17,-17,8,29,37,21.6,78.4,108.324324,120.081081
1208,CHA,NOP,1610612766,CHA @ NOP,22300575,0,2024-01-17,0,12.0,229.5,240,112,132,-20,-0.164303,39,90,43.3,44.44,45,20,19,45,42.2,15,18,83.3,15,26,41,29,7,8,14,19,-20,8,30,38,21.1,78.9,108.421053,120.394737
1225,CHA,SAS,1610612766,CHA vs. SAS,22300584,1,2024-01-19,1,-5.0,236.0,240,124,120,4,0.032790,47,84,56.0,56.36,55,31,16,29,55.2,14,16,87.5,10,30,40,25,9,4,18,16,4,9,30,39,23.1,76.9,108.820513,120.384615
1241,CHA,PHI,1610612766,CHA vs. PHI,22300593,0,2024-01-20,1,12.0,227.0,240,89,97,-8,-0.086075,35,85,41.2,54.17,48,26,9,37,24.3,10,14,71.4,7,40,47,23,2,7,17,20,-8,9,31,40,22.5,77.5,108.325000,119.800000
1274,CHA,MIN,1610612766,CHA @ MIN,22300610,1,2024-01-22,0,14.0,221.5,240,128,125,3,0.023717,50,88,56.8,70.59,51,36,14,37,37.8,14,18,77.8,7,28,35,30,8,4,10,20,3,10,31,41,24.4,75.6,108.804878,119.926829
1292,CHA,DET,1610612766,CHA @ DET,22300619,0,2024-01-24,0,2.5,230.0,240,106,113,-7,-0.063949,38,87,43.7,46.94,49,23,15,38,39.5,15,19,78.9,9,39,48,27,5,5,11,22,-7,10,32,42,23.8,76.2,108.738095,119.761905
1325,CHA,HOU,1610612766,CHA vs. HOU,22300635,0,2024-01-26,1,5.0,223.5,240,104,138,-34,-0.282863,35,85,41.2,46.43,56,26,9,29,31.0,25,32,78.1,5,27,32,20,6,7,13,25,-34,10,33,43,23.3,76.7,108.627907,120.186047
1349,CHA,UTA,1610612766,CHA vs. UTA,22300647,0,2024-01-27,1,10.0,231.5,240,122,134,-12,-0.093819,47,92,51.1,56.67,60,34,13,32,40.6,15,21,71.4,9,26,35,35,7,6,10,22,-12,10,34,44,22.7,77.3,108.931818,120.500000
1369,CHA,NYK,1610612766,CHA vs. NYK,22300657,0,2024-01-29,1,9.0,218.5,240,92,113,-21,-0.205599,37,81,45.7,53.06,49,26,11,32,34.4,7,14,50.0,9,32,41,23,4,6,14,14,-21,10,35,45,22.2,77.8,108.555556,120.333333
1403,CHA,CHI,1610612766,CHA vs. CHI,22300674,0,2024-01-31,1,6.0,214.0,240,110,117,-7,-0.061694,40,90,44.4,54.55,44,24,16,46,34.8,14,17,82.4,9,31,40,25,4,6,10,18,-7,10,36,46,21.7,78.3,108.586957,120.260870
1444,CHA,OKC,1610612766,CHA @ OKC,22300695,0,2024-02-02,0,15.5,225.0,240,106,126,-20,-0.172843,41,92,44.6,44.26,61,27,14,31,45.2,10,14,71.4,7,28,35,22,12,4,14,21,-20,10,37,47,21.3,78.7,108.531915,120.382979
1469,CHA,IND,1610612766,CHA vs. IND,22300707,0,2024-02-04,1,11.5,237.0,240,99,115,-16,-0.149812,35,88,39.8,45.76,59,27,8,29,27.6,21,25,84.0,11,32,43,18,6,5,11,16,-16,10,38,48,20.8,79.2,108.333333,120.270833
1481,CHA,LAL,1610612766,CHA vs. LAL,22300713,0,2024-02-05,1,13.5,228.5,240,118,124,-6,-0.049597,47,96,49.0,53.12,64,34,13,32,40.6,11,14,78.6,5,29,34,26,9,1,9,16,-6,10,39,49,20.4,79.6,108.530612,120.346939
1507,CHA,TOR,1610612766,CHA vs. TOR,22300726,0,2024-02-07,1,7.0,227.0,240,117,123,-6,-0.050010,44,90,48.9,54.90,51,28,16,39,41.0,13,20,65.0,9,29,38,27,6,2,10,20,-6,10,40,50,20.0,80.0,108.700000,120.400000
1544,CHA,MIL,1610612766,CHA @ MIL,22300745,0,2024-02-09,0,16.0,229.5,240,84,120,-36,-0.356675,27,79,34.2,40.00,50,20,7,29,24.1,23,29,79.3,8,40,48,17,2,2,15,20,-36,10,41,51,19.6,80.4,108.215686,120.392157
1557,CHA,MEM,1610612766,CHA vs. MEM,22300751,1,2024-02-10,1,5.0,216.0,240,115,106,9,0.081493,47,82,57.3,60.78,51,31,16,31,51.6,5,7,71.4,5,38,43,30,8,4,19,9,9,11,41,52,21.2,78.8,108.346154,120.115385
1577,CHA,IND,1610612766,CHA vs. IND,22300761,1,2024-02-12,1,10.0,239.0,240,111,102,9,0.084557,44,82,53.7,70.83,48,34,10,34,29.4,13,16,81.3,5,41,46,27,5,3,19,17,9,12,41,53,22.6,77.4,108.396226,119.773585
1609,CHA,ATL,1610612766,CHA vs. ATL,22300777,1,2024-02-14,1,7.0,238.5,240,122,99,23,0.208901,44,89,49.4,55.77,52,29,15,37,40.5,19,20,95.0,12,34,46,27,7,4,13,18,23,13,41,54,24.1,75.9,108.648148,119.388889
1658,CHA,UTA,1610612766,CHA @ UTA,22300801,1,2024-02-22,0,9.5,229.0,240,115,107,8,0.072103,40,92,43.5,40.00,50,20,20,42,47.6,15,22,68.2,12,30,42,28,11,3,10,23,8,14,41,55,25.5,74.5,108.763636,119.163636
1678,CHA,GSW,1610612766,CHA @ GSW,22300811,0,2024-02-23,0,12.5,228.0,240,84,97,-13,-0.143894,32,88,36.4,42.86,49,21,11,39,28.2,9,11,81.8,13,30,43,21,13,6,19,15,-13,14,42,56,25.0,75.0,108.321429,118.767857
1708,CHA,POR,1610612766,CHA @ POR,22300826,1,2024-02-25,0,3.5,213.5,240,93,80,13,0.150573,37,75,49.3,58.82,51,30,7,24,29.2,12,17,70.6,4,37,41,24,12,6,19,12,13,15,42,57,26.3,73.7,108.052632,118.087719
1736,CHA,MIL,1610612766,CHA @ MIL,22300840,0,2024-02-27,0,14.0,219.5,240,85,123,-38,-0.369533,30,81,37.0,46.34,41,19,11,40,27.5,14,17,82.4,5,32,37,24,6,2,13,16,-38,15,43,58,25.9,74.1,107.655172,118.172414
1755,CHA,MIL,1610612766,CHA vs. MIL,22300849,0,2024-02-29,1,11.5,219.0,240,99,111,-12,-0.114410,36,82,43.9,55.81,43,24,12,39,30.8,15,20,75.0,9,33,42,24,3,3,13,18,-12,15,44,59,25.4,74.6,107.508475,118.050847
1772,CHA,PHI,1610612766,CHA @ PHI,22300858,0,2024-03-01,0,12.0,213.0,240,114,121,-7,-0.059592,43,84,51.2,56.86,51,29,14,33,42.4,14,17,82.4,7,25,32,24,5,6,5,13,-7,15,45,60,25.0,75.0,107.616667,118.100000
1806,CHA,TOR,1610612766,CHA @ TOR,22300875,0,2024-03-03,0,7.0,224.0,240,106,111,-5,-0.046091,43,92,46.7,53.85,65,35,8,27,29.6,12,16,75.0,11,34,45,24,8,6,17,15,-5,15,46,61,24.6,75.4,107.590164,117.983607
1827,CHA,ORL,1610612766,CHA vs. ORL,22300885,0,2024-03-05,1,8.5,208.0,240,89,101,-12,-0.126484,33,72,45.8,53.85,39,21,12,33,36.4,11,11,100.0,3,28,31,19,7,1,19,19,-12,15,47,62,24.2,75.8,107.290323,117.709677
1876,CHA,WAS,1610612766,CHA @ WAS,22300910,0,2024-03-08,0,2.5,225.0,240,100,112,-12,-0.113329,40,100,40.0,53.45,58,31,9,42,21.4,11,15,73.3,13,35,48,18,6,5,7,19,-12,15,48,63,23.8,76.2,107.174603,117.619048
1893,CHA,BKN,1610612766,CHA vs. BKN,22300918,1,2024-03-09,1,6.5,207.5,240,110,99,11,0.105361,44,81,54.3,64.71,51,33,11,30,36.7,11,15,73.3,9,36,45,26,9,3,17,18,11,16,48,64,25.0,75.0,107.218750,117.328125
1922,CHA,DET,1610612766,CHA @ DET,22300933,0,2024-03-11,0,5.0,217.5,240,97,114,-17,-0.161487,34,88,38.6,43.75,48,21,13,40,32.5,16,23,69.6,9,31,40,27,7,2,13,16,-17,16,49,65,24.6,75.4,107.061538,117.276923
1956,CHA,MEM,1610612766,CHA @ MEM,22300950,1,2024-03-13,0,-2.5,201.5,240,110,98,12,0.115513,44,82,53.7,67.39,46,31,13,36,36.1,9,13,69.2,6,29,35,26,12,7,20,11,12,17,49,66,25.8,74.2,107.106061,116.984848
1979,CHA,PHX,1610612766,CHA vs. PHX,22300961,0,2024-03-15,1,10.5,220.5,240,96,107,-11,-0.108481,35,94,37.2,50.88,57,29,6,37,16.2,20,27,74.1,12,36,48,20,6,3,5,16,-11,17,50,67,25.4,74.6,106.940299,116.835821
1994,CHA,PHI,1610612766,CHA @ PHI,22300969,0,2024-03-16,0,10.5,209.0,240,98,109,-11,-0.106380,37,82,45.1,52.94,51,27,10,31,32.3,14,18,77.8,12,28,40,21,11,4,16,21,-11,17,51,68,25.0,75.0,106.808824,116.720588
2038,CHA,ORL,1610612766,CHA @ ORL,22300991,0,2024-03-19,0,13.0,204.0,240,92,112,-20,-0.196710,38,79,48.1,58.00,50,29,9,29,31.0,7,9,77.8,4,26,30,19,8,1,17,13,-20,17,52,69,24.6,75.4,106.594203,116.652174
2098,CHA,ATL,1610612766,CHA @ ATL,22301021,0,2024-03-23,0,7.5,211.5,240,91,132,-41,-0.371942,35,84,41.7,53.33,45,24,11,39,28.2,10,14,71.4,11,28,39,25,3,4,15,9,-41,17,53,70,24.3,75.7,106.371429,116.871429
2122,CHA,CLE,1610612766,CHA @ CLE,22301033,0,2024-03-25,0,10.5,206.0,240,92,115,-23,-0.223144,34,80,42.5,48.08,52,25,9,28,32.1,15,18,83.3,6,27,33,22,5,4,12,13,-23,17,54,71,23.9,76.1,106.169014,116.845070
2153,CHA,CLE,1610612766,CHA vs. CLE,22301048,1,2024-03-27,1,9.5,208.0,240,118,111,7,0.061154,44,76,57.9,72.09,43,31,13,33,39.4,17,22,77.3,8,30,38,30,8,2,16,14,7,18,54,72,25.0,75.0,106.333333,116.763889
2181,CHA,GSW,1610612766,CHA vs. GSW,22301062,0,2024-03-29,1,12.0,219.5,240,97,115,-18,-0.170221,34,84,40.5,57.89,38,22,12,46,26.1,17,24,70.8,12,29,41,23,4,2,11,10,-18,18,55,73,24.7,75.3,106.205479,116.739726
2215,CHA,LAC,1610612766,CHA vs. LAC,22301079,0,2024-03-31,1,14.0,216.0,240,118,130,-12,-0.096850,44,88,50.0,58.33,36,21,23,52,44.2,7,11,63.6,5,26,31,32,3,2,9,25,-12,18,56,74,24.3,75.7,106.364865,116.918919
2231,CHA,BOS,1610612766,CHA vs. BOS,22301087,0,2024-04-01,1,18.5,219.5,240,104,118,-14,-0.126294,41,91,45.1,51.85,54,28,13,37,35.1,9,11,81.8,8,32,40,28,3,2,7,15,-14,18,57,75,24.0,76.0,106.333333,116.933333
2261,CHA,POR,1610612766,CHA vs. POR,22301102,0,2024-04-03,1,-1.5,211.5,240,86,89,-3,-0.034289,32,78,41.0,57.45,47,27,5,31,16.1,17,22,77.3,2,34,36,22,10,8,11,15,-3,18,58,76,23.7,76.3,106.065789,116.565789
2291,CHA,ORL,1610612766,CHA vs. ORL,22301115,1,2024-04-05,1,12.5,207.0,240,124,115,9,0.075349,43,72,59.7,66.67,42,28,15,30,50.0,23,23,100.0,4,32,36,29,6,4,20,22,9,19,58,77,24.7,75.3,106.298701,116.545455
2329,CHA,OKC,1610612766,CHA vs. OKC,22301135,0,2024-04-07,1,7.5,218.0,240,118,121,-3,-0.025106,45,83,54.2,65.12,43,28,17,40,42.5,11,14,78.6,7,29,36,29,12,9,18,14,-3,19,59,78,24.4,75.6,106.448718,116.602564
2347,CHA,DAL,1610612766,CHA vs. DAL,22301144,0,2024-04-09,1,12.5,224.0,240,104,130,-26,-0.223144,39,89,43.8,50.88,57,29,10,32,31.3,16,21,76.2,8,31,39,24,8,3,12,16,-26,19,60,79,24.1,75.9,106.417722,116.772152
2376,CHA,ATL,1610612766,CHA @ ATL,22301159,1,2024-04-10,0,8.5,227.5,240,115,114,1,0.008734,40,79,50.6,60.47,43,26,14,36,38.9,21,22,95.5,5,28,33,25,11,2,14,18,1,20,60,80,25.0,75.0,106.525000,116.737500
2404,CHA,BOS,1610612766,CHA @ BOS,22301173,0,2024-04-12,0,7.5,217.5,240,98,131,-33,-0.290230,32,76,42.1,41.46,41,17,15,35,42.9,19,22,86.4,4,29,33,20,3,7,20,15,-33,20,61,81,24.7,75.3,106.419753,116.913580
2432,CHA,CLE,1610612766,CHA @ CLE,22301187,1,2024-04-14,0,14.5,208.5,240,120,110,10,0.087011,46,91,50.5,52.94,51,27,19,40,47.5,9,11,81.8,10,37,47,36,10,9,10,11,10,21,61,82,25.6,74.4,106.585366,116.829268

In [5]:
# dict_ = {}
# for team in NBAteams:
#     dict_[team] = {}
#     dict_[team]['FAV#'] = int
#     dict_[team][''] = int
#     dict_[team][''] = int

In [6]:
dict_ = {}
for team in NBAteams:
    dict_[team] = {}

for team in NBAteams:
    teamDF = NBAdf[NBAdf['TEAM'] == team]
    teamDF = teamDF[teamDF['SPREAD'] < 0]
    dict_[team]['#FAV'] = len(teamDF[teamDF['SPREAD'] < 0])
    dict_[team]['BEAT SPEAD'] = sum(abs(teamDF['SPREAD']) < teamDF['PTSDELTA'])
    dict_[team]['BEAT SPEAD%'] = dict_[team]['BEAT SPEAD'] / dict_[team]['#FAV']
    dict_[team]['LOST SPREAD'] = sum(abs(teamDF['SPREAD']) > teamDF['PTSDELTA'])
    dict_[team]['LOST SPREAD%'] = dict_[team]['LOST SPREAD'] / dict_[team]['#FAV']
    dict_[team]['PUSH'] = sum(abs(teamDF['SPREAD']) ==  teamDF['PTSDELTA'])
    dict_[team]['PUSH%'] = dict_[team]['PUSH'] / dict_[team]['#FAV']
    
# for team in NBAteams:
#     teamDF = NBAdf[NBAdf['TEAM'] == team]
#     teamDF = teamDF[teamDF['SPREAD'] < 0]
#     dict_[team]['#FAV'] = len(teamDF[teamDF['SPREAD'] < 0])
#     dict_[team]['BEAT SPREAD'] = 0
#     dict_[team]['LOST SPREAD'] = 0
#     dict_[team]['PUSH'] = 0
#     for i in range(len(teamDF)):
#         if teamDF.iloc[i]['PTSDELTA'] < 0: #lost
#             dict_[team]['LOST SPREAD'] = dict_[team]['LOST SPREAD'] + 1
#         if teamDF.iloc[i]['PTSDELTA'] > 0: #won
#             if np.abs(teamDF.iloc[i]['SPREAD']) > teamDF.iloc[i]['PTSDELTA']:
#                 dict_[team]['LOST SPREAD'] = dict_[team]['LOST SPREAD'] + 1
#             if np.abs(teamDF.iloc[i]['SPREAD']) == teamDF.iloc[i]['PTSDELTA']:
#                 dict_[team]['PUSH'] = dict_[team]['PUSH'] + 1
#             if np.abs(teamDF.iloc[i]['SPREAD']) < teamDF.iloc[i]['PTSDELTA']:
#                 dict_[team]['BEAT SPREAD'] = dict_[team]['BEAT SPREAD'] + 1
spreadResultsDF = pd.DataFrame(dict_).T

In [7]:
# teamDF = NBAdf[NBAdf['TEAM'] == 'ATL']
# teamDF = teamDF[teamDF['SPREAD'] < 0]
# teamDF.reset_index(drop=True).head()

In [8]:
# abs(teamDF.iloc[2]['SPREAD']) > teamDF.iloc[2]['PTSDELTA']

In [9]:
spreadResultsDF.head()

     #FAV  BEAT SPEAD  BEAT SPEAD%  LOST SPREAD  LOST SPREAD%  PUSH     PUSH%
ATL  43.0        15.0     0.348837         27.0      0.627907   1.0  0.023256
BKN  26.0        13.0     0.500000         12.0      0.461538   1.0  0.038462
BOS  78.0        40.0     0.512821         33.0      0.423077   5.0  0.064103
CHA   7.0         1.0     0.142857          6.0      0.857143   0.0  0.000000
CHI  33.0        15.0     0.454545         17.0      0.515152   1.0  0.030303

In [10]:
dict_ = {}
for team in NBAteams:
    dict_[team] = {}
    dict_[team]['gamesFav+LostSpread'] = pd.DataFrame
    
for team in NBAteams:
    teamDF = NBAdf[NBAdf['TEAM'] == team]
    teamDF = teamDF[teamDF['SPREAD'] < 0]
    teamDF = teamDF.reset_index(drop=True)

    df = pd.DataFrame()
    for i in range(len(teamDF)):
        if teamDF.iloc[i]['PTSDELTA'] < 0:
            df = pd.concat([df,teamDF.iloc[i].to_frame().T],axis=0)
        if teamDF.iloc[i]['PTSDELTA'] > 0:
            if np.abs(teamDF.iloc[i]['SPREAD']) > teamDF.iloc[i]['PTSDELTA']:
                df = pd.concat([df,teamDF.iloc[i].to_frame().T],axis=0)
    dict_[team]['gamesFav+LostSpread'] = df.reset_index(drop=True)

In [12]:
resultsDict = {}
for team in NBAteams:
    resultsDict[team] = []

In [13]:
def cleanBoxScore(boxScoreDF):
    if 'Unnamed: 22' in boxScoreDF.columns:
            boxScoreDF = boxScoreDF.drop(columns='Unnamed: 22')
    boxScoreDF['PLAYER']
    players = []
    for playerIter in range(5):
        players.append(boxScoreDF['PLAYER'].iloc[playerIter][:-1])
    for playerIter in range(5,len(boxScoreDF)):
        players.append(boxScoreDF['PLAYER'].iloc[playerIter])
    boxScoreDF = boxScoreDF.drop(columns='PLAYER')
    boxScoreDF.insert(0,'PLAYER',players)
    boxScoreDF = boxScoreDF.reset_index(drop=True).dropna()
    
    rowsToDrop = []
    for i in range(len(boxScoreDF)):
        if 'DNP' in boxScoreDF.iloc[i]['MIN'] or ' ' in boxScoreDF.iloc[i]['MIN'] or 'SUSPENSION' in boxScoreDF.iloc[i]['MIN']:
            rowsToDrop.append(i)

    boxScoreDF = boxScoreDF.drop(rowsToDrop)
    boxScoreDF['PTS_'] = boxScoreDF['PTS'].astype(int)
    boxScoreDF = boxScoreDF.drop(columns='PTS')
    boxScoreDF = boxScoreDF.rename(columns={'PTS_':'PTS'})
    return boxScoreDF

In [14]:
results = []
for team in NBAteams:
    print(team)
    dict_[team]['gamesFav+LostSpread'].head()
    teamDF = dict_[team]['gamesFav+LostSpread']
    dateOfFirstGame = NBAdf[NBAdf['TEAM'] == team].head(1)['GAME DATE'].values[0]
    teamDF = teamDF[teamDF['GAME DATE'] > dateOfFirstGame]
    teamDF = teamDF.reset_index(drop=True);
    
    for i in range (len(teamDF)):
        GAMEID = teamDF.iloc[i]['GAMEID']
        GAMEID = str(GAMEID)
        #print(GAMEID,teamDF.iloc[i]['GAME DATE'])
        boxScoreDF = pd.read_csv('/Users/olutosinfashusi/jupyter/csv/boxScoreCSV/boxScoreCSVs/'+ GAMEID +'.csv')#.fillna(' ')
        boxScoreDF = boxScoreDF[boxScoreDF['TEAM'] ==  team]
        boxScoreDF.insert(1,'OPPT',teamDF.iloc[i]['OPPT'])
        boxScoreDF = boxScoreDF.reset_index(drop=True).dropna()
        boxScoreDF = cleanBoxScore(boxScoreDF);

        prevGamesDF = NBAdf[NBAdf['TEAM'] == team]
        prevGamesDF  = prevGamesDF[prevGamesDF['GAME DATE'] < teamDF.iloc[i]['GAME DATE']]
        prevGamesDF.reset_index(drop=True);

        prevGameIDs = prevGamesDF['GAMEID'].values
        prevOppts = prevGamesDF['OPPT'].values

        prevBoxScoresDF = pd.DataFrame()
        for prevIter in range (len(prevGameIDs)):
            GAMEID = str(prevGameIDs[prevIter])
            #print('PREV:',GAMEID)
            prevBoxScoreDF = pd.read_csv('/Users/olutosinfashusi/jupyter/csv/boxScoreCSV/boxScoreCSVs/'+ GAMEID +'.csv')#.fillna(' ')
            prevBoxScoreDF = prevBoxScoreDF[prevBoxScoreDF['TEAM'] == team]
            prevBoxScoreDF.insert(1,'OPPT',prevOppts[prevIter])
            prevBoxScoreDF = cleanBoxScore(prevBoxScoreDF)
            prevBoxScoresDF = pd.concat([prevBoxScoresDF,prevBoxScoreDF],axis=0)

        prevBoxScoresDF.groupby("PLAYER")['PTS'].mean()
        boxScoreDF.groupby("PLAYER")['PTS'].mean()
        prevAVGPTS = pd.DataFrame(prevBoxScoresDF.groupby("PLAYER")['PTS'].mean())

        prevAVGPTS = prevAVGPTS.rename(columns={'PTS':'PREV AVG PTS'})
        df = pd.concat([boxScoreDF.groupby("PLAYER")['PTS'].mean(),
               prevAVGPTS.groupby("PLAYER")['PREV AVG PTS'].mean()],axis=1).dropna()
        df['DATE'] = teamDF.iloc[i]['GAME DATE']
        df['TEAM'] = teamDF.iloc[i]['TEAM']
        df['OPPT'] = teamDF.iloc[i]['OPPT']
        df['PTSDELTA'] = teamDF.iloc[i]['PTSDELTA']
        df['SPREAD'] = teamDF.iloc[i]['SPREAD']
        resultsDict[team].append(df)

ATL
BKN
BOS
CHA
CHI
CLE
DAL
DEN
DET
GSW
HOU
IND
LAC
LAL
MEM
MIA
MIL
MIN
NOP
NYK
OKC
ORL
PHI
PHX
POR
SAC
SAS
TOR
UTA
WAS

In [15]:
team = 'ATL'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Jalen Johnson   5.0     15.434783  2024-01-13  ATL  WAS       -28    -8.0
Saddiq Bey      2.0     12.142857  2023-11-09  ATL  ORL         1    -3.5
Trae Young     13.0     27.823529  2024-01-12  ATL  IND       -18    -6.0
Trae Young     12.0     26.959184  2024-02-14  ATL  CHA       -23    -7.0
Trae Young     11.0     26.660000  2024-02-23  ATL  TOR        -2    -7.5
Trae Young     14.0     26.352941  2024-04-10  ATL  CHA        -1    -8.5

In [16]:
team = 'BKN'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                  PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Cam Thomas        9.0     20.740741  2024-01-07  BKN  POR        -7    -9.0
Cam Thomas        8.0     20.600000  2024-01-17  BKN  POR        -2    -5.0
Lonnie Walker IV  0.0     14.000000  2024-01-07  BKN  POR        -7    -9.0
Lonnie Walker IV  0.0     12.040000  2024-01-27  BKN  HOU         2    -4.0

In [17]:
team = 'BOS'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                     PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Derrick White        2.0     16.000000  2024-01-27  BOS  LAC       -19    -7.0
Derrick White        3.0     15.545455  2024-03-05  BOS  CLE        -1    -8.5
Derrick White        4.0     15.826087  2024-02-09  BOS  WAS         4   -18.0
Derrick White        2.0     15.380282  2024-04-11  BOS  NYK        -9    -3.5
Jaylen Brown        12.0     22.909091  2023-11-19  BOS  MEM         2   -12.0
Jaylen Brown         8.0     22.536585  2024-01-27  BOS  LAC       -19    -7.0
Jaylen Brown         8.0     22.250000  2024-02-01  BOS  LAL        -9   -15.5
Jaylen Brown        11.0     23.166667  2023-11-08  BOS  PHI        -3    -2.5
Jayson Tatum        17.0     28.454545  2023-11-17  BOS  TOR         3    -9.0
Jayson Tatum        15.0     27.280000  2023-12-19  BOS  GSW        -6    -5.0
Jayson Tatum        17.0     27.183099  2024-04-05  BOS  SAC         1    -9.5
Jayson Tatum        15.0     27.051724  2024-03-07  BOS  DEN        -6    -2.0
Jayson Tatum        16.0     30.500000  2023-11-08  BOS  PHI        -3    -2.5
Jayson Tatum        22.0     34.000000  2023-10-27  BOS  MIA         8    -8.5
Jrue Holiday         2.0     12.645161  2024-04-01  BOS  CHA        14   -18.5
Kristaps Porzingis   9.0     19.642857  2023-11-24  BOS  ORL       -17    -5.0
Kristaps Porzingis  17.0     30.000000  2023-10-27  BOS  MIA         8    -8.5

In [18]:
team = 'CHA'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                  PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Gordon Hayward    4.0     15.083333  2023-11-22  CHA  WAS         3    -3.5
Mark Williams     2.0     13.000000  2023-10-27  CHA  DET       -12    -4.5
Miles Bridges     9.0     20.461538  2023-12-16  CHA  PHI       -53   -12.0
P.J. Washington  13.0     25.000000  2023-10-27  CHA  DET       -12    -4.5
Terry Rozier      6.0     24.357143  2023-12-16  CHA  PHI       -53   -12.0

In [19]:
team = 'CLE'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                   PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Caris LeVert       6.0     17.500000  2023-11-25  CLE  LAL        -6    -4.0
Caris LeVert       5.0     15.533333  2023-11-30  CLE  POR        -8   -12.5
Caris LeVert       4.0     15.342105  2024-02-07  CLE  WAS         8   -11.5
Darius Garland     6.0     20.300000  2023-11-25  CLE  LAL        -6    -4.0
Darius Garland     9.0     20.619048  2024-02-01  CLE  MEM         7    -8.5
Darius Garland     8.0     18.218750  2024-02-27  CLE  DAL         2    -4.0
Donovan Mitchell  20.0     32.500000  2023-11-08  CLE  OKC        -8    -2.0
Donovan Mitchell  10.0     28.545455  2023-11-26  CLE  TOR         3    -3.5
Donovan Mitchell  17.0     27.615385  2024-01-07  CLE  SAS         2   -10.5
Donovan Mitchell  16.0     28.386364  2024-02-25  CLE  WAS         9   -13.5
Donovan Mitchell  13.0     27.687500  2024-03-16  CLE  HOU       -14    -5.0
Donovan Mitchell  12.0     27.387755  2024-03-29  CLE  PHI         3    -7.0
Max Strus          8.0     27.000000  2023-10-27  CLE  OKC        -3    -2.0
Max Strus          2.0     12.840909  2024-01-31  CLE  DET         7   -13.5
Max Strus          2.0     12.625000  2024-02-07  CLE  WAS         8   -11.5

In [20]:
team = 'DAL'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                    PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Derrick Jones Jr.   0.0     10.200000  2023-11-05  DAL  CHA         6   -11.5
Grant Williams      5.0     17.000000  2023-10-27  DAL  BKN         5    -6.0
Kyrie Irving       10.0     24.571429  2023-12-01  DAL  MEM       -14    -6.0
Luka Doncic        23.0     33.800000  2023-11-05  DAL  CHA         6   -11.5
Luka Doncic        16.0     32.600000  2023-11-14  DAL  NOP       -21    -3.5
Luka Doncic        19.0     33.900000  2024-01-01  DAL  UTA       -37    -4.5
Luka Doncic        18.0     34.372881  2024-03-19  DAL  SAS         6    -9.0
Tim Hardaway Jr.    6.0     17.900000  2024-01-01  DAL  UTA       -37    -4.5
Tim Hardaway Jr.    5.0     17.720000  2024-02-12  DAL  WAS         8   -12.0
Tim Hardaway Jr.    2.0     16.701754  2024-03-03  DAL  PHI        -4    -7.5
Tim Hardaway Jr.    6.0     16.448276  2024-03-05  DAL  IND       -17    -5.5
Tim Hardaway Jr.    5.0     15.707692  2024-03-19  DAL  SAS         6    -9.0

In [21]:
team = 'DEN'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                           PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Aaron Gordon               2.0     13.866667  2023-11-24  DEN  HOU       -19    -3.0
Aaron Gordon               3.0     13.055556  2023-12-08  DEN  HOU        -8    -9.0
Jamal Murray               9.0     19.947368  2023-12-29  DEN  OKC       -26    -2.0
Jamal Murray               6.0     21.142857  2024-02-29  DEN  MIA         6    -6.5
Kentavious Caldwell-Pope   8.0     20.000000  2023-10-27  DEN  MEM         4    -6.0
Kentavious Caldwell-Pope   0.0     10.060606  2024-03-29  DEN  MIN       -13    -3.0
Michael Porter Jr.         5.0     16.289474  2024-01-10  DEN  UTA       -13    -6.5
Nikola Jokic              18.0     29.666667  2023-11-19  DEN  CLE       -12    -4.5
Nikola Jokic               9.0     28.769231  2023-11-20  DEN  DET         4    -9.5
Nikola Jokic              15.0     26.196078  2024-02-14  DEN  SAC        -4    -5.5
Reggie Jackson             2.0     13.200000  2023-12-23  DEN  CHA         7   -11.0
Reggie Jackson             2.0     12.838710  2023-12-25  DEN  GSW         6    -7.5
Reggie Jackson             2.0     12.342857  2024-01-04  DEN  GSW         3    -4.0

In [22]:
team = 'DET'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                  PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Bojan Bogdanovic  8.0     21.125000  2023-12-21  DET  UTA        -8    -2.0
Jalen Duren       0.0     13.892857  2024-04-01  DET  MEM        -2    -3.0

In [23]:
team = 'GSW'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                   PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Jonathan Kuminga   0.0     16.222222  2024-04-14  GSW  UTA         7   -11.0
Klay Thompson      3.0     17.166667  2023-12-30  GSW  DAL       -10    -4.0
Stephen Curry     21.0     33.500000  2023-11-01  GSW  SAC         1    -6.5
Stephen Curry      7.0     28.956522  2023-12-17  GSW  POR         4    -6.0
Stephen Curry     13.0     27.892857  2023-12-28  GSW  MIA       -12    -6.5
Stephen Curry      9.0     27.606061  2024-01-07  GSW  TOR       -15    -2.5
Stephen Curry     15.0     27.175439  2024-03-07  GSW  CHI        -3    -8.5

In [24]:
team = 'HOU'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                   PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Alperen Sengun    10.0     21.934783  2024-01-31  HOU  NOP       -11    -1.0
Jabari Smith Jr.   0.0     13.756098  2024-01-31  HOU  NOP       -11    -1.0
Jalen Green        5.0     17.111111  2023-12-26  HOU  IND        -6    -3.0
Jalen Green        7.0     17.375000  2024-01-20  HOU  UTA         1    -2.0
Jalen Green        4.0     18.264151  2024-02-14  HOU  MEM        -8    -2.5
Jalen Green        3.0     19.848101  2024-04-11  HOU  UTA        -3   -11.5

In [25]:
team = 'IND'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                     PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Aaron Nesmith        5.0     16.500000  2023-10-30  IND  CHI        -7    -3.5
Aaron Nesmith        0.0     11.181818  2023-11-19  IND  ORL       -12    -4.5
Bennedict Mathurin   2.0     13.925926  2023-12-23  IND  ORL        -7    -2.5
Bennedict Mathurin   2.0     14.525000  2024-01-19  IND  POR        -3    -8.5
Bennedict Mathurin   0.0     14.120000  2024-02-12  IND  CHA        -9   -10.0
Myles Turner         6.0     17.590909  2023-12-15  IND  WAS       -14    -8.0
Obi Toppin           0.0     11.475000  2024-01-19  IND  POR        -3    -8.5
Tyrese Haliburton   12.0     24.700000  2023-11-19  IND  ORL       -12    -4.5
Tyrese Haliburton    5.0     22.921053  2024-02-08  IND  GSW       -22    -6.0

In [26]:
team = 'LAC'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Ivica Zubac     6.0     20.000000  2023-10-27  LAC  UTA        -2    -4.0
James Harden    4.0     17.243902  2024-02-02  LAC  DET        11   -12.0
James Harden    6.0     16.984848  2024-03-31  LAC  CHA        12   -14.0
James Harden    4.0     16.732394  2024-04-12  LAC  UTA        -1   -15.5
Kawhi Leonard   6.0     24.000000  2024-03-12  LAC  MIN       -18    -5.5
Norman Powell   2.0     13.510204  2024-02-10  LAC  DET         6   -17.0
Paul George     6.0     25.214286  2023-11-27  LAC  DEN        -9   -11.5
Paul George    13.0     23.146341  2024-01-29  LAC  CLE       -10    -1.5
Paul George     7.0     22.511111  2024-02-07  LAC  NOP       -11    -5.5
Paul George    10.0     22.680556  2024-04-12  LAC  UTA        -1   -15.5

In [27]:
team = 'LAL'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                   PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Anthony Davis      9.0     23.400000  2023-11-15  LAL  SAC       -15    -1.0
Anthony Davis     14.0     24.949153  2024-03-06  LAL  SAC       -10    -3.0
Anthony Davis      8.0     24.714286  2024-03-16  LAL  GSW        -7    -1.5
D'Angelo Russell   4.0     18.384615  2023-11-19  LAL  HOU         1    -6.5
D'Angelo Russell   2.0     15.769231  2023-12-20  LAL  CHI       -16    -3.5
D'Angelo Russell   6.0     18.032787  2024-03-13  LAL  SAC       -13    -2.5
D'Angelo Russell   4.0     18.189189  2024-04-12  LAL  MEM         3   -16.0
LeBron James      12.0     25.419355  2024-01-03  LAL  MIA       -14    -4.5
Rui Hachimura      0.0     11.607143  2024-01-19  LAL  BKN       -18    -7.0
Taurean Prince     0.0     18.000000  2023-10-26  LAL  PHX         5    -6.5
Taurean Prince     0.0     10.062500  2024-01-03  LAL  MIA       -14    -4.5

In [28]:
team = 'MEM'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                    PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Jaren Jackson Jr.  10.0      21.03125  2024-01-02  MEM  SAS         8   -11.0

In [29]:
team = 'MIA'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                  PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Bam Adebayo       8.0     21.027778  2024-01-29  MIA  PHX       -13    -2.5
Caleb Martin      0.0     10.461538  2024-03-22  MIA  NOP       -23    -3.0
Duncan Robinson   0.0     13.500000  2024-01-29  MIA  PHX       -13    -2.5
Duncan Robinson   2.0     13.276923  2024-04-04  MIA  PHI        -4    -2.5
Jaime Jaquez Jr.  2.0     13.825000  2024-01-29  MIA  PHX       -13    -2.5
Jimmy Butler      8.0     21.521739  2023-12-30  MIA  UTA        -8    -3.0
Kevin Love        0.0     10.129032  2024-01-19  MIA  ATL        -1    -7.0

In [30]:
team = 'MIL'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                        PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Bobby Portis            2.0     12.466667  2023-11-24  MIL  WAS         3   -13.5
Damian Lillard          6.0     39.000000  2023-10-29  MIL  ATL       -17    -7.5
Damian Lillard         12.0     24.285714  2023-11-13  MIL  CHI         9    -9.5
Damian Lillard         14.0     25.550000  2023-12-11  MIL  CHI         4   -11.5
Giannis Antetokounmpo  16.0     27.333333  2023-11-01  MIL  TOR       -19    -4.5
Giannis Antetokounmpo  15.0     26.000000  2023-11-08  MIL  DET         2   -12.0
Giannis Antetokounmpo  11.0     31.400000  2023-12-19  MIL  SAS        13   -16.5
Khris Middleton         5.0     15.215686  2024-04-07  MIL  NYK       -13    -4.5
Malik Beasley           0.0     12.000000  2023-11-03  MIL  NYK         5    -5.5
Malik Beasley           0.0     11.888889  2023-12-25  MIL  NYK        -7    -3.0

In [31]:
team = 'MIN'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                     PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Anthony Edwards      9.0     25.897436  2024-01-22  MIN  CHA        -3   -14.0
Anthony Edwards     11.0     26.607143  2024-03-01  MIN  SAC        -4    -8.5
Anthony Edwards     13.0     26.344828  2024-03-04  MIN  POR         5   -15.0
Anthony Edwards      9.0     26.441176  2024-03-27  MIN  DET        15   -16.5
Anthony Edwards     14.0     26.259740  2024-04-12  MIN  ATL         3   -12.5
Anthony Edwards     13.0     26.102564  2024-04-14  MIN  PHX       -19    -2.0
Jaden McDaniels      0.0     10.857143  2023-11-14  MIN  GSW         3    -3.5
Karl-Anthony Towns  10.0     21.964286  2023-12-28  MIN  DAL         8   -12.0
Karl-Anthony Towns   9.0     21.551724  2023-12-30  MIN  LAL         2    -4.5
Karl-Anthony Towns  11.0     22.133333  2024-04-12  MIN  ATL         3   -12.5
Karl-Anthony Towns  10.0     21.950820  2024-04-14  MIN  PHX       -19    -2.0
Mike Conley          0.0     10.654545  2024-03-03  MIN  LAC        -1    -2.5
Naz Reid             3.0     13.571429  2024-04-09  MIN  WAS         9   -18.0

In [32]:
team = 'NOP'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                    PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Brandon Ingram      8.0     23.636364  2023-12-15  NOP  CHA         5    -9.5
CJ McCollum        13.0     23.400000  2023-11-04  NOP  ATL       -18    -2.0
CJ McCollum         2.0     18.975610  2024-02-23  NOP  MIA       -11    -2.0
CJ McCollum         8.0     18.255319  2024-03-13  NOP  CLE       -21    -6.0
Jonas Valanciunas   2.0     12.312500  2024-04-14  NOP  LAL       -16    -2.0
Jordan Hawkins      0.0     11.500000  2023-12-15  NOP  CHA         5    -9.5
Zion Williamson    12.0     23.028986  2024-04-14  NOP  LAL       -16    -2.0

In [33]:
team = 'NYK'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                   PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Immanuel Quickley  5.0     16.294118  2023-11-30  NYK  DET         6   -14.5
RJ Barrett         9.0     20.500000  2023-11-26  NYK  PHX        -3    -6.5
RJ Barrett         9.0     19.588235  2023-12-13  NYK  UTA        -4    -6.0

In [34]:
team = 'OKC'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                          PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Chet Holmgren             4.0     17.578947  2023-12-06  OKC  HOU        -9    -1.5
Chet Holmgren             4.0     16.978261  2024-01-29  OKC  MIN        -6    -2.5
Chet Holmgren             7.0     17.177419  2024-03-08  OKC  MIA         7    -8.5
Chet Holmgren             2.0     16.943662  2024-03-27  OKC  HOU        -6    -5.0
Chet Holmgren             5.0     16.780822  2024-03-31  OKC  NYK         1    -2.0
Jalen Williams            7.0     19.333333  2024-03-04  OKC  LAL       -12    -1.0
Shai Gilgeous-Alexander  20.0     31.237288  2024-03-04  OKC  LAL       -12    -1.0
Shai Gilgeous-Alexander  20.0     31.092308  2024-03-16  OKC  MEM         6   -10.5
Shai Gilgeous-Alexander  19.0     30.442857  2024-03-31  OKC  NYK         1    -2.0

In [35]:
team = 'ORL'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                 PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Cole Anthony     4.0     15.882353  2023-12-01  ORL  WAS         5   -10.5
Jalen Suggs      0.0     12.948718  2024-01-26  ORL  MEM        -1    -6.0
Paolo Banchero  10.0     21.125000  2023-12-20  ORL  MIA        -9    -5.5

In [36]:
team = 'PHI'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Cameron Payne   2.0     13.666667  2024-02-14  PHI  MIA        -5    -2.5
Tobias Harris   6.0     18.000000  2023-12-06  PHI  WAS         5   -10.5
Tobias Harris   3.0     16.800000  2023-12-18  PHI  CHI        -4   -10.5
Tobias Harris   5.0     17.303030  2024-01-05  PHI  NYK       -36    -6.0
Tobias Harris   7.0     17.729167  2024-02-22  PHI  NYK       -14    -1.5
Tyrese Maxey   16.0     26.205128  2024-01-20  PHI  CHA         8   -12.0

In [37]:
team = 'PHX'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Bradley Beal    6.0     16.400000  2023-12-15  PHX  NYK       -17    -5.0
Bradley Beal    7.0     18.200000  2024-03-02  PHX  HOU        -9    -9.0
Devin Booker    8.0     29.444444  2023-11-29  PHX  TOR        -7    -3.5
Devin Booker   16.0     26.566667  2024-01-16  PHX  SAC         2    -4.5
Devin Booker   16.0     27.000000  2024-01-22  PHX  CHI         2    -5.0
Devin Booker   14.0     27.186441  2024-03-29  PHX  OKC       -25    -2.5
Devin Booker   12.0     27.312500  2024-04-09  PHX  LAC       -13    -9.5
Eric Gordon     0.0     14.037037  2023-12-31  PHX  ORL         5    -5.5
Eric Gordon     3.0     13.250000  2024-01-14  PHX  POR        11   -14.5
Grayson Allen   2.0     12.886792  2024-03-02  PHX  HOU        -9    -9.0
Josh Okogie     0.0     11.250000  2023-11-02  PHX  SAS       -11   -10.5
Kevin Durant   16.0     30.875000  2023-12-25  PHX  DAL       -14    -4.0
Kevin Durant   15.0     28.842105  2024-01-28  PHX  ORL       -15    -2.0
Kevin Durant   11.0     28.083333  2024-03-17  PHX  MIL       -11    -2.5

In [38]:
team = 'POR'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                  PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Anfernee Simons   9.0     28.500000  2023-12-14  POR  UTA        -8    -5.0
Anfernee Simons  10.0     23.258065  2024-02-25  POR  CHA       -13    -3.5
Shaedon Sharpe    4.0     18.772727  2023-12-14  POR  UTA        -8    -5.0

In [39]:
team = 'SAC'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                   PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
De'Aaron Fox      14.0     31.857143  2023-11-20  SAC  NOP       -36    -1.5
De'Aaron Fox      15.0     29.961538  2024-01-03  SAC  ORL         3    -5.5
De'Aaron Fox      12.0     27.833333  2024-02-07  SAC  DET       -13   -13.5
Domantas Sabonis  10.0     20.833333  2023-11-20  SAC  NOP       -36    -1.5
Domantas Sabonis   9.0     19.866667  2023-11-28  SAC  GSW         1    -2.0
Harrison Barnes   10.0     33.000000  2023-10-27  SAC  GSW        -8    -3.0
Harrison Barnes    3.0     15.600000  2023-11-06  SAC  HOU       -25    -2.0
Keegan Murray      5.0     16.208333  2023-12-26  SAC  POR       -17    -9.0
Keegan Murray      5.0     16.205128  2024-01-29  SAC  MEM         9   -11.0
Keegan Murray      0.0     15.681818  2024-02-07  SAC  DET       -13   -13.5
Keegan Murray      3.0     15.053571  2024-03-07  SAC  SAS         2   -12.0
Kevin Huerter      0.0     10.706897  2024-03-07  SAC  SAS         2   -12.0
Kevin Huerter      0.0     10.459016  2024-03-16  SAC  NYK        -7    -3.0
Kevin Huerter      0.0     10.290323  2024-03-18  SAC  MEM        10   -11.5
Malik Monk         3.0     14.857143  2024-01-29  SAC  MEM         9   -11.0

In [40]:
team = 'TOR'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                 PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Dennis Schroder  4.0     16.666667  2023-11-13  TOR  WAS         4    -8.0
Gary Trent Jr.   0.0     11.222222  2023-12-08  TOR  CHA        -3    -5.5
Scottie Barnes   7.0     20.132075  2024-02-12  TOR  SAS       -23    -6.0

In [41]:
team = 'UTA'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

                  PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Collin Sexton     1.0     12.500000  2023-11-22  UTA  POR       -16    -3.5
Collin Sexton     6.0     17.478261  2024-01-29  UTA  BKN       -33    -1.0
Lauri Markkanen  13.0     23.833333  2024-01-29  UTA  BKN       -33    -1.0

In [42]:
team = 'WAS'
FLAG = []
resultsDF = pd.DataFrame()
for i in range (len(resultsDict[team])):
    resultsDF = pd.concat([resultsDF,pd.DataFrame(resultsDict[team][i])],axis=0)
for i in range(len(resultsDF)):
    if 10+resultsDF.iloc[i]['PTS'] < resultsDF.iloc[i]['PREV AVG PTS']:
        FLAG.append('')
    else: FLAG.append(' ')
resultsDF['FLAG'] = FLAG
resultsDF[resultsDF['FLAG'] == ''].sort_values(by='PLAYER')

             PTS  PREV AVG PTS        DATE TEAM OPPT  PTSDELTA  SPREAD FLAG
PLAYER
Kyle Kuzma  11.0      22.20000  2024-01-20  WAS  SAS        -4    -2.0
Kyle Kuzma  12.0      22.38806  2024-03-29  WAS  DET        -9    -3.5

In [43]:
################################################
################################################
################################################
################################################
################################################
STOP

NameError: name 'STOP' is not defined

In [ ]:
GAMEID = str(22300104)
boxScoreDF = pd.read_csv('/Users/olutosinfashusi/jupyter/csv/boxScoreCSV/boxScoreCSVs/'+ GAMEID +'.csv')#.fillna(' ')
boxScoreDF = boxScoreDF[boxScoreDF['TEAM'] == team]
boxScoreDF.insert(1,'OPPT',teamDF.iloc[i]['OPPT'])
boxScoreDF = boxScoreDF.reset_index(drop=True).dropna()
boxScoreDF = cleanBoxScore(boxScoreDF);
boxScoreDF

In [ ]:
results = []

In [ ]:
for i in range (len(teamDF)):
    GAMEID = teamDF.iloc[i]['GAMEID']
    GAMEID = str(GAMEID)
    print(GAMEID)
    boxScoreDF = pd.read_csv('/Users/olutosinfashusi/jupyter/csv/boxScoreCSV/boxScoreCSVs/'+ GAMEID +'.csv')#.fillna(' ')
    boxScoreDF = boxScoreDF[boxScoreDF['TEAM'] == 'ATL']
    boxScoreDF.insert(1,'OPPT',teamDF.iloc[i]['OPPT'])
    boxScoreDF = boxScoreDF.reset_index(drop=True).dropna()
    boxScoreDF = cleanBoxScore(boxScoreDF);
    
    prevGamesDF = NBAdf[NBAdf['TEAM'] == 'ATL']
    prevGamesDF  = prevGamesDF[prevGamesDF['GAME DATE'] < teamDF.iloc[i]['GAME DATE']]
    prevGamesDF.reset_index(drop=True);

    prevGameIDs = prevGamesDF['GAMEID'].values
    prevOppts = prevGamesDF['OPPT'].values

    prevBoxScoresDF = pd.DataFrame()
    for prevIter in range (len(prevGameIDs)):
        GAMEID = str(prevGameIDs[prevIter])
        prevBoxScoreDF = pd.read_csv('/Users/olutosinfashusi/jupyter/csv/boxScoreCSV/boxScoreCSVs/'+ GAMEID +'.csv')#.fillna(' ')
        prevBoxScoreDF = prevBoxScoreDF[prevBoxScoreDF['TEAM'] == 'ATL']
        prevBoxScoreDF.insert(1,'OPPT',prevOppts[prevIter])
        prevBoxScoreDF = cleanBoxScore(prevBoxScoreDF)
        prevBoxScoresDF = pd.concat([prevBoxScoresDF,prevBoxScoreDF],axis=0)

    prevBoxScoresDF.groupby("PLAYER")['PTS'].mean()
    boxScoreDF.groupby("PLAYER")['PTS'].mean()
    prevAVGPTS = pd.DataFrame(prevBoxScoresDF.groupby("PLAYER")['PTS'].mean())

    prevAVGPTS = prevAVGPTS.rename(columns={'PTS':'PREV AVG PTS'})
    df = pd.concat([boxScoreDF.groupby("PLAYER")['PTS'].mean(),
           prevAVGPTS.groupby("PLAYER")['PREV AVG PTS'].mean()],axis=1).dropna()
    df['DATE'] = teamDF.iloc[i]['GAME DATE']
    df['TEAM'] = teamDF.iloc[i]['TEAM']
    df['OPPT'] = teamDF.iloc[i]['OPPT']
    results.append(df)
    pd.concat(results)

In [ ]:
pd.concat(results)

In [ ]:
#boxScoreDF

In [ ]:
prevBoxScoreDF.groupby('PLAYER')['PTS'].mean()

In [ ]:
type(prevBoxScoreDF.iloc[0]['PTS'])

In [ ]:
#pd.concat(results)

In [ ]:
prevBoxScoresDF.groupby("PLAYER")['PTS'].mean()

In [ ]:
ATLF.iloc[0].to_frame().T['GAMEID'].values[0]

In [ ]:
GAMEID = str(ATLF.iloc[0].to_frame().T['GAMEID'].values[0])

In [ ]:
pd.read_csv('/Users/olutosinfashusi/jupyter/csv/boxScoreCSV/boxScoreCSVs/'+ GAMEID +'.csv').fillna(' ')

In [ ]:
NBAdf.head(1)['GAME DATE'].values

#https://www.pbs.org/newshour/nation/nba-bans-jontay-porter-after-gambling-probe-shows-he-shared-information-bet-on-games

https://github.com/swar/nba_api/tree/master

In [ ]:
NBAdf[(NBAdf['TEAM'] == 'TOR') 
               & (NBAdf['OPPT'] == 'SAC') 
               & (NBAdf['GAME DATE'] == datetime.date(2024,3,20))]

In [ ]:
NBAdf[(NBAdf['TEAM'] == 'TOR') 
               & (NBAdf['OPPT'] == 'LAC') 
               & (NBAdf['GAME DATE'] == datetime.date(2024,1,26))]

In [ ]:
GAMEID = NBAdf[(NBAdf['TEAM'] == 'TOR') 
               & (NBAdf['OPPT'] == 'LAC') 
               & (NBAdf['GAME DATE'] == datetime.date(2024,1,26))]['GAMEID'].values[0]
GAMEID = str(GAMEID)
pd.read_csv('/Users/olutosinfashusi/jupyter/csv/boxScoreCSV/boxScoreCSVs/'+GAMEID +'.csv').fillna(' ')

In [ ]:
#irisDF[~(irisDF['petal_width'] <= 1.75) & (irisDF['petal_length'] <= 4.85)]
GAMEID = NBAdf[(NBAdf['TEAM'] == 'TOR') 
               & (NBAdf['OPPT'] == 'SAC') 
               & (NBAdf['GAME DATE'] == datetime.date(2024,3,20))]['GAMEID'].values[0]
GAMEID = str(GAMEID)
print(GAMEID)

In [ ]:
pd.read_csv('/Users/olutosinfashusi/jupyter/csv/boxScoreCSV/boxScoreCSVs/'+GAMEID +'.csv').fillna(' ')